.main {
  display: grid;
  height: 100dvh;
  overflow: hidden;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}
.content {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
  header {
    font-size: 18px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
}
.viewing {
  background-color: red;
}
@media (min-width: 768px) {
  .main {
    display: none;
  }
}
