.Pdf_viewer{
    margin: 0 auto; 
    position:relative; 
    border-radius:10px; 
    height: 110vh; 
    width: 80vw; 
    overflow: hidden; 
}
.Pdf_viewer::after{
    position: absolute;
    inset: auto 0 -10px 0; 
    content: ""; 
    height: 5vh; 
    width: 100%; 
    background-color:var(--ibero);
    border-radius: 0 0 10px 10px; 
}
.Pdf_viewer *{
    border: none !important; 
}
:root {
    --rpv-core__inner-page-background-color: #343434 !important; 
    --rpv-core__textbox-background-color: transparent !important; 
    --rpv-default-layout__body-background-color:transparent !important; 
    --rpv-default-layout__sidebar-headers-background-color: transparent !important; 
    --rpv-default-layout__sidebar-content--opened-background-color: #343434 !important; 
}
.toolbar_container{
    width: 100%; 
    height: 100%; 
    border-radius: 10px 10px 0 0;
    /* background-color: var(--ibero);  */
}
@media screen and (max-width: 500px) {
    .Pdf_viewer{
        width: 95%; 
        height: 100vh; 
    }
    .toolbar_container *{
        font-size: 10px;
    }
}
.rpv-default-layout__toolbar{
    border-radius: 10px 10px 0 0;
}
.rpv-core__viewer{
    margin-inline: auto;
}
.rpv-thumbnail__list{
    border-radius: inherit;
    margin-top: 10%;
}
.rpv-default-layout__sidebar-content--ltr{
    border-radius:10px; 
}
.rpv-default-layout__sidebar--opened{
    width: 16rem;
    background-color: var(--dark_background) !important; 
    border-radius: 10px;
}
.rpv-default-layout__sidebar{
    padding: 0 !important; 
}
.rpv-core__textbox{
    height: 1.5rem !important; 
    width: 1.75rem !important; 
    cursor: pointer;
}
.rpv-toolbar__label{
    padding: 10px 5px; 
}
.rpv-default-layout__sidebar-headers{
    height: fit-content;
    position: absolute; 
    top: 50px; 
    background: transparent ; 
    left: 10px; 
    z-index: 20;
    padding: 1rem; 
}
.rpv-default-layout__container{
    border: none !important; 
}
/* Selection Styles */
.reglamento_conteiner{
    position: relative; 
}
@keyframes select_Animation {
    0%{
        visibility: visible; 
        opacity: 1;
        height: 0;
    }
    100%{
        height: 70vh;
        visibility: visible; 
    }
}
@keyframes select_Animation_hide {
    0%{
        visibility: visible;
        height: 70vh;
        opacity: 1;
    }
    99%{
        visibility: visible;
    }
    100%{
        padding: 0;
        visibility: hidden; 
        opacity: 1;
        height: 0;
    }
}
@keyframes select_Animation_content {
    0%{
        visibility: visible; 
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        visibility: visible; 
        opacity: 1;
    }
}
@keyframes select_Animation_content_hide {
    0%{
        visibility: visible; 
        opacity: 1;
    }
    88%{
        opacity: 0;
    }
    90%{
        visibility: visible; 
    }
    100%{
        visibility: hidden; 
        opacity: 0;
    }
}
@media screen and (min-width: 501px){
    
    .reglamento_conteiner{
        position: relative;
        z-index: 50;
        font-family: var(--title);
        font-size: 1.2em;
    }
    .reglamento_conteiner span{
        background-color: #b82d38; 
        display: block;
        padding-block: 1rem;
        margin-block: 1rem;
        border-radius: 1rem;
        text-align: center;
    }
    .reglamento_conteiner:hover + .selectIndex *, .selectIndex:hover *{
        opacity: 0;
        animation: select_Animation_content 250ms forwards; 
        animation-delay: 750ms;
    }
    .reglamento_conteiner:not(:hover) + .selectIndex.selectIndex:not(:hover) *{
        animation: select_Animation_content_hide 50ms forwards; 
        animation-delay: 0ms;
    }
    .reglamento_conteiner:hover + .selectIndex, .selectIndex:hover{
        animation: select_Animation 750ms forwards;
    }
    .reglamento_conteiner:not(:hover) + .selectIndex.selectIndex:not(:hover){
        animation: select_Animation_hide 750ms forwards;
        animation-delay: 200ms; 
    }
    .reglamento_conteiner i{
        display: none;
    }
    .selectIndex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);  
        align-items: center;
        height: 70vh;
        position: relative;
        top: -1.85rem;
        background-color: var(--ibero);
        padding: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .selectIndex div:hover{
        background-color: #b82d38;
        cursor: pointer;
    }
    .selectIndex > *{
        padding: 5px;
    }
}
.selectIndexPhone{
    display: none;
}
    /* Phone */
    @media screen and (max-width:500px){
        .selectIndex{
            display: none;
        }
        @keyframes fade-in-left {
            0%{
                transform: translateX(-100%); 
            }
            100%{
                transform: translateX(0); 
            }
        }
        @keyframes fade-out-right {
            0%{
                transform: translateX(0); 
            }
            100%{
                transform: translateX(-100%); 
            }
        }
        .selectIndexPhone{
            position: fixed; 
            inset: 0; 
            z-index: 100;
            overflow-y: scroll;
            color: #fff;
        }
        .items_conteiner_reglamento{
            background-color: var(--ibero);
            z-index: 50; 
            padding-inline: 30px;
            padding-block: 10%;
            display: grid; 
            place-content: center;
            text-align: left;
            row-gap: 1rem;
            font-size: 12px;
        }
        .title-reglamento-phone-conteiner{
            background-color: var(--ibero);
            position: sticky;
            top: 0; 
            left: 0;
            display: flex;
            align-items: center;
            padding: 5px;
        }
            .fa-x{
                margin-left: auto;
                padding: 1rem;
            }
            .title-reglamento-phone{
                width: 90%;
                height: 10%;
                font-size: 14px;
                padding:5px 1rem;
                border-radius: 1rem;
                background-color:#b82d38 ;
            }
        .reglamento_conteiner{
            padding-block: 10px;
            position: relative;
            z-index: 50;
            font-family: var(--title);
            background-color: #b82d38; 
            border-radius: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-block: 1rem;

        }
        .reglamento_conteiner span{
            text-align: center;
        }
        .reglamento_conteiner i{
            padding: 1rem;
            display: inline;
        }
        .reglamento_conteiner span{
            text-align: left;
            width: 90%;
            font-size: 12px;
        }
        .selectIndexPhone[data-show-menu="false"]{
            animation: fade-out-right 200ms forwards;
            display: block;
        }
        .selectIndexPhone[data-show-menu="true"]{
            display: block;
            animation: fade-in-left 750ms forwards;
        }
    }