.Pdf_viewer {
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  height: 110vh;
  /* width: 80vw;  */
}

.Pdf_viewer::before {
  position: absolute;
  inset-inline: 0;
  content: "";
  height: 7vh;
  width: 100%;
  background-color: var(--ibero);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Pdf_viewer::after {
  position: absolute;
  inset: auto 0 -10px 0;
  content: "";
  height: 5vh;
  width: 100%;
  background-color: var(--ibero);
  border-radius: 0 0 10px 10px;
}

.Pdf_viewer * {
  border: none !important;
}

:root {
  --rpv-core__inner-page-background-color: #343434 !important;
  --rpv-core__textbox-background-color: transparent !important;
  --rpv-default-layout__body-background-color: transparent !important;
  --rpv-default-layout__sidebar-headers-background-color: transparent !important;
  --rpv-default-layout__sidebar-content--opened-background-color: #343434 !important;
}

.toolbar_container {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.rpv-default-layout__sidebar-content--ltr {
  border-radius: 10px;
}

.rpv-default-layout__sidebar--opened {
  width: 16rem;
  background-color: var(--dark_background) !important;
  border-radius: 10px;
}

.rpv-default-layout__sidebar {
  padding: 0 !important;
}

.rpv-core__textbox {
  height: 1.5rem !important;
  width: 1.75rem !important;
  cursor: pointer;
}

.rpv-toolbar__label {
  padding: 10px 5px;
}

.rpv-default-layout__sidebar-headers {
  height: fit-content;
  position: absolute;
  top: 50px;
  background: transparent;
  left: 10px;
  z-index: 20;
  padding: 1rem;
}

.rpv-default-layout__container {
  border: none !important;
}
